openapi: 3.1.0
info:
  title: Sinch MessageRouter API
  version: 1.0.0
  description: |
    A developer-friendly unified messaging API built as a modern wrapper around the
    Sinch Conversation API. Inspired by Twilio's simplicity but designed for the
    multi-channel era.

    ## Design Principles

    1. **Progressive discovery** -- Simple things are simple, complex things are possible.
       Send an SMS with just a phone number and a body. When you need rich content,
       multi-channel dispatch, or advanced routing, the tools are there.
    2. **SMS first** -- SMS is the default channel. If you omit the channel parameter
       your message is sent as SMS. No extra configuration required.
    3. **Channel as a parameter** -- Switching channels is a one-field change, not a
       different API or a deeply nested payload.
    4. **Polymorphic content** -- Rich content (cards, carousels, location pins, templates,
       and more) is expressed through a discriminated union on the content.type field,
       keeping payloads flat and predictable.

    ## Quick Start

    Send your first message in one call:



    ## Authentication

    All endpoints require authentication via either a Bearer token or an API key
    passed in the X-API-Key header. Obtain credentials from the Sinch Dashboard.

    ## Rate Limiting

    Every response includes rate-limit headers. When you hit the limit you receive
    a 429 response with a Retry-After header.

    ## Pagination

    List endpoints use cursor-based pagination. Pass the cursor value from the
    response's nextCursor field as the cursor query parameter to fetch the next page.
  contact:
    name: Sinch Developer Support
    url: https://developers.sinch.com
    email: support@sinch.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: https://developers.sinch.com/logo.png
    altText: Sinch MessageRouter

servers:
  - url: https://api.messagerouter.sinch.com
    description: Production
  - url: https://api-sandbox.messagerouter.sinch.com
    description: Sandbox (test environment)
  - url: https://api-eu.messagerouter.sinch.com
    description: EU region (production)

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Messages
    description: |
      Send, retrieve, and manage messages across all supported channels.
      The simplest call requires only a recipient and a body -- the API defaults
      to SMS. For rich content, set the content object with a type discriminator.
  - name: Batch
    description: Send messages to multiple recipients in a single request.
  - name: Channels
    description: |
      Inspect and configure the messaging channels available on your account.
      Each channel exposes its capabilities (rich cards, read receipts, typing
      indicators, etc.) so you can build adaptive UIs.
  - name: Webhooks
    description: |
      Register HTTP endpoints to receive real-time event notifications for
      incoming messages, delivery receipts, read receipts, failures, and
      dispatch outcomes.
  - name: Contacts
    description: |
      Manage contacts and their channel identities. A contact can have
      identities on multiple channels (phone number for SMS, WhatsApp ID, etc.).
  - name: Templates
    description: |
      Create and manage reusable message templates. Templates support
      parameterized placeholders and are required for WhatsApp Business
      initiated conversations.
  - name: Dispatch
    description: |
      Configure multi-channel dispatch rules with intelligent routing strategies.
      Dispatch rules define how messages are routed across channels using
      strategies like failover, broadcast, round-robin, or cost-optimized selection.
  - name: Health
    description: Service health and status endpoints.
paths:
  # ─────────────────────────────────────────────
  # Messages
  # ─────────────────────────────────────────────
  /v1/messages:
    post:
      operationId: sendMessage
      summary: Send a message
      description: |
        Send a message to a recipient on any supported channel. At its simplest,
        provide a phone number and a body to send an SMS. Add a channel field to
        switch channels, or use the content object for rich media.

        **Simple SMS:**
        ```json
        { "to": "+15551234567", "body": "Hello!" }
        ```

        **WhatsApp with rich card:**
        ```json
        {
          "to": "+15551234567",
          "channel": "whatsapp",
          "content": {
            "type": "card",
            "title": "Order Confirmation",
            "description": "Your order #1234 has shipped.",
            "media": { "url": "https://example.com/tracking.png", "type": "image" },
            "actions": [
              { "type": "url", "title": "Track Package", "payload": "https://example.com/track/1234" }
            ]
          }
        }
        ```

        **Dispatch with failover:**
        ```json
        {
          "to": "+15551234567",
          "body": "Your code is 123456",
          "dispatch": {
            "strategy": "failover",
            "routes": [
              { "channel": "rcs", "ttl": 30 },
              { "channel": "sms" }
            ]
          }
        }
        ```
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
            examples:
              simpleSms:
                summary: Simple SMS
                value:
                  to: "+15551234567"
                  body: "Hello from MessageRouter!"
              whatsappText:
                summary: WhatsApp text message
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  body: "Hello via WhatsApp!"
              richCard:
                summary: RCS rich card
                value:
                  to: "+15551234567"
                  channel: rcs
                  content:
                    type: card
                    title: "Summer Sale"
                    description: "50% off all items this weekend."
                    media:
                      url: "https://example.com/sale-banner.jpg"
                      type: image
                    actions:
                      - type: url
                        title: "Shop Now"
                        payload: "https://example.com/sale"
              mediaMessage:
                summary: Image with caption
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  content:
                    type: media
                    url: "https://example.com/receipt.pdf"
                    mediaType: document
                    caption: "Your receipt is attached."
              templateMessage:
                summary: WhatsApp template
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  content:
                    type: template
                    id: "order_confirmation_v2"
                    parameters:
                      customer_name: "Jane"
                      order_id: "ORD-98765"
              dispatchFailover:
                summary: Failover dispatch
                value:
                  to: "+15551234567"
                  body: "Your verification code is 483921"
                  dispatch:
                    strategy: failover
                    routes:
                      - channel: rcs
                        ttl: 30
                      - channel: whatsapp
                        ttl: 60
                      - channel: sms
      responses:
        "201":
          description: Message accepted for delivery.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                id: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"
                to: "+15551234567"
                from: "+15559876543"
                channel: sms
                status: queued
                content:
                  type: text
                  text: "Hello from MessageRouter!"
                metadata: {}
                createdAt: "2025-09-15T10:30:00.000Z"
                cost:
                  amount: "0.0075"
                  currency: "USD"
                segments: 1
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

    get:
      operationId: listMessages
      summary: List messages
      description: |
        Retrieve a paginated list of messages with optional filters. Results are
        returned in reverse chronological order (newest first). Use cursor-based
        pagination to iterate through large result sets.
      tags:
        - Messages
      parameters:
        - name: status
          in: query
          description: Filter by message status.
          schema:
            $ref: '#/components/schemas/MessageStatus'
        - name: channel
          in: query
          description: Filter by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: to
          in: query
          description: Filter by recipient identifier (phone number or contact ID).
          schema:
            type: string
            example: "+15551234567"
        - name: from
          in: query
          description: Filter by sender identifier.
          schema:
            type: string
        - name: startDate
          in: query
          description: Return messages created on or after this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2025-09-01T00:00:00Z"
        - name: endDate
          in: query
          description: Return messages created on or before this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2025-09-30T23:59:59Z"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of messages.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/messages/{messageId}:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    get:
      operationId: getMessage
      summary: Get message details
      description: |
        Retrieve full details for a single message including its complete status
        history showing every state transition with timestamps.
      tags:
        - Messages
      responses:
        "200":
          description: Message details.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: revokeMessage
      summary: Revoke or cancel a pending message
      description: |
        Attempt to revoke a message that has not yet been submitted to the carrier.
        Messages in the queued state can be revoked; messages already submitted
        or delivered cannot be recalled.
      tags:
        - Messages
      responses:
        "200":
          description: Message revoked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          description: Message cannot be revoked because it has already been submitted or delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: "message_already_submitted"
                  message: "Cannot revoke a message that has already been submitted to the carrier."
                  status: 409
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Batch Messages
  # ─────────────────────────────────────────────
  /v1/messages/batch:
    post:
      operationId: sendBatchMessages
      summary: Send a batch of messages
      description: |
        Send the same message to multiple recipients in a single request. Each
        recipient may optionally override the channel or content. The API returns
        a batch ID and per-recipient status.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMessageRequest'
            example:
              recipients:
                - to: "+15551234567"
                - to: "+15559876543"
                - to: "+15550001111"
                  channel: whatsapp
              body: "Flash sale starts now! Reply STOP to opt out."
              channel: sms
              from: "+18005550100"
      responses:
        "201":
          description: Batch accepted for delivery.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMessageResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
  # ─────────────────────────────────────────────
  # Channels
  # ─────────────────────────────────────────────
  /v1/channels:
    get:
      operationId: listChannels
      summary: List available channels
      description: |
        Retrieve all messaging channels configured on your account along with
        their current status and capabilities. Use this to discover which
        channels support rich cards, read receipts, typing indicators, and
        other features.
      tags:
        - Channels
      responses:
        "200":
          description: A list of channels.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelInfo'
              example:
                data:
                  - id: sms
                    name: SMS
                    status: active
                    capabilities:
                      richCards: false
                      readReceipts: false
                      typingIndicators: false
                      media: false
                      maxMessageLength: 1600
                  - id: whatsapp
                    name: WhatsApp
                    status: active
                    capabilities:
                      richCards: true
                      readReceipts: true
                      typingIndicators: true
                      media: true
                      maxMessageLength: 4096
                  - id: rcs
                    name: RCS
                    status: active
                    capabilities:
                      richCards: true
                      readReceipts: true
                      typingIndicators: true
                      media: true
                      maxMessageLength: 8000
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/channels/{channelId}:
    parameters:
      - name: channelId
        in: path
        required: true
        description: The channel identifier.
        schema:
          $ref: '#/components/schemas/Channel'
    get:
      operationId: getChannel
      summary: Get channel details
      description: |
        Retrieve detailed information about a specific channel including its
        configuration, capabilities, and current health status.
      tags:
        - Channels
      responses:
        "200":
          description: Channel details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetail'
              example:
                id: whatsapp
                name: WhatsApp
                status: active
                capabilities:
                  richCards: true
                  readReceipts: true
                  typingIndicators: true
                  media: true
                  maxMessageLength: 4096
                  supportedMediaTypes:
                    - image/jpeg
                    - image/png
                    - video/mp4
                    - audio/ogg
                    - application/pdf
                configuration:
                  businessAccountId: "1234567890"
                  phoneNumberId: "0987654321"
                  defaultSenderId: "+15559876543"
                health:
                  status: healthy
                  latencyMs: 120
                  lastCheckedAt: "2025-09-15T10:00:00Z"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateChannel
      summary: Update channel configuration
      description: |
        Update the configuration for a specific channel. Only the fields provided
        in the request body are updated; all other settings remain unchanged.
      tags:
        - Channels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelConfigUpdate'
            example:
              configuration:
                defaultSenderId: "+15559876543"
                callbackUrl: "https://example.com/webhooks/whatsapp"
      responses:
        "200":
          description: Channel configuration updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetail'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Webhooks
  # ─────────────────────────────────────────────
  /v1/webhooks:
    post:
      operationId: createWebhook
      summary: Register a webhook endpoint
      description: |
        Register a URL to receive real-time event notifications. You can subscribe
        to specific event types or use a wildcard to receive all events. The URL
        must be HTTPS and respond to a validation request with a 200 status.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
            example:
              url: "https://example.com/webhooks/messagerouter"
              events:
                - message.incoming
                - message.delivered
                - message.read
                - message.failed
              secret: "whsec_a1b2c3d4e5f6"
              description: "Production webhook for order notifications"
      responses:
        "201":
          description: Webhook registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
              example:
                id: "whk_01H9XKPB3GPT7C1QVR4CTWNX8M"
                url: "https://example.com/webhooks/messagerouter"
                events:
                  - message.incoming
                  - message.delivered
                  - message.read
                  - message.failed
                status: active
                description: "Production webhook for order notifications"
                createdAt: "2025-09-15T10:30:00.000Z"
                updatedAt: "2025-09-15T10:30:00.000Z"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listWebhooks
      summary: List registered webhooks
      description: Retrieve all webhook endpoints registered on your account.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhookId}:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    get:
      operationId: getWebhook
      summary: Get webhook details
      description: Retrieve details for a specific webhook endpoint.
      tags:
        - Webhooks
      responses:
        "200":
          description: Webhook details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateWebhook
      summary: Update a webhook
      description: |
        Update a webhook endpoint. Only the fields provided in the request body
        are modified. To pause a webhook, set its status to inactive.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
            example:
              events:
                - message.incoming
                - message.delivered
                - message.read
                - message.failed
                - dispatch.completed
              status: active
      responses:
        "200":
          description: Webhook updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: |
        Permanently remove a webhook endpoint. Events will no longer be delivered
        to the registered URL.
      tags:
        - Webhooks
      responses:
        "204":
          description: Webhook deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhookId}/test:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    post:
      operationId: testWebhook
      summary: Send a test event to a webhook
      description: |
        Trigger a synthetic test event to the webhook URL. Use this to verify
        that your endpoint is correctly configured and can process events.
        The test event uses the event type message.delivered by default, or
        you can specify which event type to test.
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  $ref: '#/components/schemas/WebhookEventType'
            example:
              event: message.incoming
      responses:
        "200":
          description: Test event sent. Returns the delivery result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the webhook endpoint responded with a 2xx status.
                  statusCode:
                    type: integer
                    description: The HTTP status code returned by the webhook endpoint.
                  responseTimeMs:
                    type: integer
                    description: Response time in milliseconds.
                  event:
                    $ref: '#/components/schemas/WebhookEventType'
              example:
                success: true
                statusCode: 200
                responseTimeMs: 145
                event: message.incoming
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
  # ─────────────────────────────────────────────
  # Contacts
  # ─────────────────────────────────────────────
  /v1/contacts:
    post:
      operationId: createContact
      summary: Create a contact
      description: |
        Create a new contact with one or more channel identities. A channel
        identity maps a contact to a specific identifier on a channel (e.g.,
        a phone number for SMS, a WhatsApp ID, etc.).
      tags:
        - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequest'
            example:
              displayName: "Jane Doe"
              email: "jane.doe@example.com"
              channelIdentities:
                - channel: sms
                  identity: "+15551234567"
                - channel: whatsapp
                  identity: "+15551234567"
                - channel: messenger
                  identity: "10155364675"
              metadata:
                customerId: "cust_abc123"
                tier: "premium"
      responses:
        "201":
          description: Contact created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "409":
          description: A contact with the same channel identity already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listContacts
      summary: List contacts
      description: Retrieve a paginated list of contacts with optional search.
      tags:
        - Contacts
      parameters:
        - name: search
          in: query
          description: Search contacts by name, email, or channel identity.
          schema:
            type: string
        - name: channel
          in: query
          description: Filter contacts that have an identity on this channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/contacts/{contactId}:
    parameters:
      - $ref: '#/components/parameters/ContactId'
    get:
      operationId: getContact
      summary: Get a contact
      description: Retrieve full details for a single contact.
      tags:
        - Contacts
      responses:
        "200":
          description: Contact details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateContact
      summary: Update a contact
      description: |
        Partially update a contact. Only the fields provided in the request
        body are modified. To add or remove channel identities, include the
        full channelIdentities array.
      tags:
        - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
            example:
              displayName: "Jane M. Doe"
              metadata:
                customerId: "cust_abc123"
                tier: "enterprise"
      responses:
        "200":
          description: Contact updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteContact
      summary: Delete a contact
      description: Permanently delete a contact and all associated channel identities.
      tags:
        - Contacts
      responses:
        "204":
          description: Contact deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/contacts/{contactId}/messages:
    parameters:
      - $ref: '#/components/parameters/ContactId'
    get:
      operationId: getContactMessages
      summary: Get a contact's message history
      description: |
        Retrieve the message history for a specific contact across all channels.
        Results are returned in reverse chronological order.
      tags:
        - Contacts
      parameters:
        - name: channel
          in: query
          description: Filter by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: direction
          in: query
          description: Filter by message direction.
          schema:
            type: string
            enum:
              - inbound
              - outbound
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of messages for this contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Templates
  # ─────────────────────────────────────────────
  /v1/templates:
    post:
      operationId: createTemplate
      summary: Create a message template
      description: |
        Create a reusable message template with parameterized placeholders.
        Templates are required for WhatsApp Business API initiated conversations
        and can be used on any channel to standardize message content.

        Parameters are referenced in the template body using double curly braces:
        `{{parameter_name}}`.
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreateRequest'
            example:
              name: "order_shipped"
              description: "Notify customer that their order has shipped"
              channel: whatsapp
              language: "en"
              content:
                type: text
                text: "Hi {{customer_name}}, your order {{order_id}} has been shipped! Track it here: {{tracking_url}}"
              parameters:
                - name: customer_name
                  description: "Customer's first name"
                  example: "Jane"
                - name: order_id
                  description: "Order identifier"
                  example: "ORD-98765"
                - name: tracking_url
                  description: "Package tracking URL"
                  example: "https://example.com/track/1234"
      responses:
        "201":
          description: Template created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "409":
          description: A template with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listTemplates
      summary: List templates
      description: Retrieve a paginated list of message templates.
      tags:
        - Templates
      parameters:
        - name: channel
          in: query
          description: Filter templates by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: status
          in: query
          description: Filter templates by approval status.
          schema:
            type: string
            enum:
              - pending
              - approved
              - rejected
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/templates/{templateId}:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
    get:
      operationId: getTemplate
      summary: Get a template
      description: Retrieve full details for a single message template.
      tags:
        - Templates
      responses:
        "200":
          description: Template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateTemplate
      summary: Update a template
      description: |
        Partially update a message template. Updating the content of an approved
        WhatsApp template will require re-approval.
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        "200":
          description: Template updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteTemplate
      summary: Delete a template
      description: Permanently delete a message template.
      tags:
        - Templates
      responses:
        "204":
          description: Template deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
  # ─────────────────────────────────────────────
  # Dispatch Rules
  # ─────────────────────────────────────────────
  /v1/dispatch:
    post:
      operationId: createDispatchRule
      summary: Create a dispatch rule
      description: |
        Create a reusable multi-channel dispatch rule. Dispatch rules define how
        messages are routed across channels using a chosen strategy.

        **Strategies:**
        - **failover** -- Try channels in order. If delivery on the first channel
          fails or times out, fall through to the next.
        - **broadcast** -- Send the message on all specified channels simultaneously.
        - **round-robin** -- Distribute messages evenly across channels over time.
        - **cost-optimized** -- Automatically select the cheapest available channel
          that can reach the recipient.
      tags:
        - Dispatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRuleCreateRequest'
            example:
              name: "OTP Delivery"
              description: "Deliver one-time passwords with RCS-first failover"
              strategy: failover
              routes:
                - channel: rcs
                  ttl: 30
                  content:
                    type: text
                    text: "Your code is {{otp}}. Do not share it."
                - channel: whatsapp
                  ttl: 60
                  content:
                    type: template
                    id: "otp_template"
                    parameters:
                      code: "{{otp}}"
                - channel: sms
                  content:
                    type: text
                    text: "Your code is {{otp}}"
      responses:
        "201":
          description: Dispatch rule created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listDispatchRules
      summary: List dispatch rules
      description: Retrieve a paginated list of dispatch rules.
      tags:
        - Dispatch
      parameters:
        - name: strategy
          in: query
          description: Filter by dispatch strategy.
          schema:
            $ref: '#/components/schemas/DispatchStrategy'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of dispatch rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/dispatch/{dispatchId}:
    parameters:
      - $ref: '#/components/parameters/DispatchId'
    get:
      operationId: getDispatchRule
      summary: Get a dispatch rule
      description: Retrieve full details for a single dispatch rule.
      tags:
        - Dispatch
      responses:
        "200":
          description: Dispatch rule details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateDispatchRule
      summary: Update a dispatch rule
      description: Partially update a dispatch rule. Only the fields provided are modified.
      tags:
        - Dispatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRuleUpdateRequest'
      responses:
        "200":
          description: Dispatch rule updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteDispatchRule
      summary: Delete a dispatch rule
      description: Permanently delete a dispatch rule. In-flight messages using this rule will complete normally.
      tags:
        - Dispatch
      responses:
        "204":
          description: Dispatch rule deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Health & Status
  # ─────────────────────────────────────────────
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Returns the health status of the API. This endpoint does not require
        authentication and is intended for load balancers and monitoring systems.
      tags:
        - Health
      security: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - timestamp
                properties:
                  status:
                    type: string
                    enum:
                      - healthy
                      - degraded
                    description: Overall service health.
                  timestamp:
                    type: string
                    format: date-time
                    description: Current server time.
                  version:
                    type: string
                    description: API version string.
              example:
                status: healthy
                timestamp: "2025-09-15T10:30:00.000Z"
                version: "1.0.0"
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - unhealthy
                  timestamp:
                    type: string
                    format: date-time
                  details:
                    type: string

  /v1/status:
    get:
      operationId: getStatus
      summary: API status and channel health
      description: |
        Returns detailed status information for the API and each configured
        channel, including latency metrics and any ongoing incidents.
      tags:
        - Health
      responses:
        "200":
          description: Detailed API and channel status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              example:
                status: operational
                timestamp: "2025-09-15T10:30:00.000Z"
                version: "1.0.0"
                channels:
                  - id: sms
                    status: operational
                    latencyMs: 45
                    successRate: 0.998
                  - id: whatsapp
                    status: operational
                    latencyMs: 120
                    successRate: 0.995
                  - id: rcs
                    status: degraded
                    latencyMs: 890
                    successRate: 0.92
                    incident: "Elevated latency on RCS gateway. Investigating."
                incidents: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
