openapi: 3.1.0
info:
  title: Sinch MessageRouter API
  version: 1.0.0
  description: |
    A developer-friendly unified messaging API built as a modern wrapper around the
    Sinch Conversation API. Inspired by Twilio's simplicity but designed for the
    multi-channel era.

    ## Design Principles

    1. **Progressive discovery** -- Simple things are simple, complex things are possible.
       Send an SMS with just a phone number and a body. When you need rich content,
       multi-channel dispatch, or advanced routing, the tools are there.
    2. **SMS first** -- SMS is the default channel. If you omit the channel parameter
       your message is sent as SMS. No extra configuration required.
    3. **Channel as a parameter** -- Switching channels is a one-field change, not a
       different API or a deeply nested payload.
    4. **Polymorphic content** -- Rich content (cards, carousels, location pins, templates,
       and more) is expressed through a discriminated union on the content.type field,
       keeping payloads flat and predictable.

    ## Quick Start

    Send your first message in one call:



    ## Authentication

    All endpoints require authentication via either a Bearer token or an API key
    passed in the X-API-Key header. Obtain credentials from the Sinch Dashboard.

    ## Rate Limiting

    Every response includes rate-limit headers. When you hit the limit you receive
    a 429 response with a Retry-After header.

    ## Pagination

    List endpoints use cursor-based pagination. Pass the cursor value from the
    response's nextCursor field as the cursor query parameter to fetch the next page.
  contact:
    name: Sinch Developer Support
    url: https://developers.sinch.com
    email: support@sinch.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: https://developers.sinch.com/logo.png
    altText: Sinch MessageRouter

servers:
  - url: https://api.messagerouter.sinch.com
    description: Production
  - url: https://api-sandbox.messagerouter.sinch.com
    description: Sandbox (test environment)
  - url: https://api-eu.messagerouter.sinch.com
    description: EU region (production)

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Messages
    description: |
      Send, retrieve, and manage messages across all supported channels.
      The simplest call requires only a recipient and a body -- the API defaults
      to SMS. For rich content, set the content object with a type discriminator.
  - name: Batch
    description: Send messages to multiple recipients in a single request.
  - name: Channels
    description: |
      Inspect and configure the messaging channels available on your account.
      Each channel exposes its capabilities (rich cards, read receipts, typing
      indicators, etc.) so you can build adaptive UIs.
  - name: Webhooks
    description: |
      Register HTTP endpoints to receive real-time event notifications for
      incoming messages, delivery receipts, read receipts, failures, and
      dispatch outcomes.
  - name: Contacts
    description: |
      Manage contacts and their channel identities. A contact can have
      identities on multiple channels (phone number for SMS, WhatsApp ID, etc.).
  - name: Templates
    description: |
      Create and manage reusable message templates. Templates support
      parameterized placeholders and are required for WhatsApp Business
      initiated conversations.
  - name: Dispatch
    description: |
      Configure multi-channel dispatch rules with intelligent routing strategies.
      Dispatch rules define how messages are routed across channels using
      strategies like failover, broadcast, round-robin, or cost-optimized selection.
  - name: Health
    description: Service health and status endpoints.
paths:
  # ─────────────────────────────────────────────
  # Messages
  # ─────────────────────────────────────────────
  /v1/messages:
    post:
      operationId: sendMessage
      summary: Send a message
      description: |
        Send a message to a recipient on any supported channel. At its simplest,
        provide a phone number and a body to send an SMS. Add a channel field to
        switch channels, or use the content object for rich media.

        **Simple SMS:**
        ```json
        { "to": "+15551234567", "body": "Hello!" }
        ```

        **WhatsApp with rich card:**
        ```json
        {
          "to": "+15551234567",
          "channel": "whatsapp",
          "content": {
            "type": "card",
            "title": "Order Confirmation",
            "description": "Your order #1234 has shipped.",
            "media": { "url": "https://example.com/tracking.png", "type": "image" },
            "actions": [
              { "type": "url", "title": "Track Package", "payload": "https://example.com/track/1234" }
            ]
          }
        }
        ```

        **Dispatch with failover:**
        ```json
        {
          "to": "+15551234567",
          "body": "Your code is 123456",
          "dispatch": {
            "strategy": "failover",
            "routes": [
              { "channel": "rcs", "ttl": 30 },
              { "channel": "sms" }
            ]
          }
        }
        ```
      tags:
        - Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
            examples:
              simpleSms:
                summary: Simple SMS
                value:
                  to: "+15551234567"
                  body: "Hello from MessageRouter!"
              whatsappText:
                summary: WhatsApp text message
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  body: "Hello via WhatsApp!"
              richCard:
                summary: RCS rich card
                value:
                  to: "+15551234567"
                  channel: rcs
                  content:
                    type: card
                    title: "Summer Sale"
                    description: "50% off all items this weekend."
                    media:
                      url: "https://example.com/sale-banner.jpg"
                      type: image
                    actions:
                      - type: url
                        title: "Shop Now"
                        payload: "https://example.com/sale"
              mediaMessage:
                summary: Image with caption
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  content:
                    type: media
                    url: "https://example.com/receipt.pdf"
                    mediaType: document
                    caption: "Your receipt is attached."
              templateMessage:
                summary: WhatsApp template
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  content:
                    type: template
                    id: "order_confirmation_v2"
                    parameters:
                      customer_name: "Jane"
                      order_id: "ORD-98765"
              dispatchFailover:
                summary: Failover dispatch
                value:
                  to: "+15551234567"
                  body: "Your verification code is 483921"
                  dispatch:
                    strategy: failover
                    routes:
                      - channel: rcs
                        ttl: 30
                      - channel: whatsapp
                        ttl: 60
                      - channel: sms
      responses:
        "201":
          description: Message accepted for delivery.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                id: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"
                to: "+15551234567"
                from: "+15559876543"
                channel: sms
                status: queued
                content:
                  type: text
                  text: "Hello from MessageRouter!"
                metadata: {}
                createdAt: "2025-09-15T10:30:00.000Z"
                cost:
                  amount: "0.0075"
                  currency: "USD"
                segments: 1
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

    get:
      operationId: listMessages
      summary: List messages
      description: |
        Retrieve a paginated list of messages with optional filters. Results are
        returned in reverse chronological order (newest first). Use cursor-based
        pagination to iterate through large result sets.
      tags:
        - Messages
      parameters:
        - name: status
          in: query
          description: Filter by message status.
          schema:
            $ref: '#/components/schemas/MessageStatus'
        - name: channel
          in: query
          description: Filter by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: to
          in: query
          description: Filter by recipient identifier (phone number or contact ID).
          schema:
            type: string
            example: "+15551234567"
        - name: from
          in: query
          description: Filter by sender identifier.
          schema:
            type: string
        - name: startDate
          in: query
          description: Return messages created on or after this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2025-09-01T00:00:00Z"
        - name: endDate
          in: query
          description: Return messages created on or before this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2025-09-30T23:59:59Z"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of messages.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/messages/{messageId}:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    get:
      operationId: getMessage
      summary: Get message details
      description: |
        Retrieve full details for a single message including its complete status
        history showing every state transition with timestamps.
      tags:
        - Messages
      responses:
        "200":
          description: Message details.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: revokeMessage
      summary: Revoke or cancel a pending message
      description: |
        Attempt to revoke a message that has not yet been submitted to the carrier.
        Messages in the queued state can be revoked; messages already submitted
        or delivered cannot be recalled.
      tags:
        - Messages
      responses:
        "200":
          description: Message revoked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          description: Message cannot be revoked because it has already been submitted or delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: "message_already_submitted"
                  message: "Cannot revoke a message that has already been submitted to the carrier."
                  status: 409
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Batch Messages
  # ─────────────────────────────────────────────
  /v1/messages/batch:
    post:
      operationId: sendBatchMessages
      summary: Send a batch of messages
      description: |
        Send the same message to multiple recipients in a single request. Each
        recipient may optionally override the channel or content. The API returns
        a batch ID and per-recipient status.
      tags:
        - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMessageRequest'
            example:
              recipients:
                - to: "+15551234567"
                - to: "+15559876543"
                - to: "+15550001111"
                  channel: whatsapp
              body: "Flash sale starts now! Reply STOP to opt out."
              channel: sms
              from: "+18005550100"
      responses:
        "201":
          description: Batch accepted for delivery.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMessageResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
  # ─────────────────────────────────────────────
  # Channels
  # ─────────────────────────────────────────────
  /v1/channels:
    get:
      operationId: listChannels
      summary: List available channels
      description: |
        Retrieve all messaging channels configured on your account along with
        their current status and capabilities. Use this to discover which
        channels support rich cards, read receipts, typing indicators, and
        other features.
      tags:
        - Channels
      responses:
        "200":
          description: A list of channels.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelInfo'
              example:
                data:
                  - id: sms
                    name: SMS
                    status: active
                    capabilities:
                      richCards: false
                      readReceipts: false
                      typingIndicators: false
                      media: false
                      maxMessageLength: 1600
                  - id: whatsapp
                    name: WhatsApp
                    status: active
                    capabilities:
                      richCards: true
                      readReceipts: true
                      typingIndicators: true
                      media: true
                      maxMessageLength: 4096
                  - id: rcs
                    name: RCS
                    status: active
                    capabilities:
                      richCards: true
                      readReceipts: true
                      typingIndicators: true
                      media: true
                      maxMessageLength: 8000
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/channels/{channelId}:
    parameters:
      - name: channelId
        in: path
        required: true
        description: The channel identifier.
        schema:
          $ref: '#/components/schemas/Channel'
    get:
      operationId: getChannel
      summary: Get channel details
      description: |
        Retrieve detailed information about a specific channel including its
        configuration, capabilities, and current health status.
      tags:
        - Channels
      responses:
        "200":
          description: Channel details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetail'
              example:
                id: whatsapp
                name: WhatsApp
                status: active
                capabilities:
                  richCards: true
                  readReceipts: true
                  typingIndicators: true
                  media: true
                  maxMessageLength: 4096
                  supportedMediaTypes:
                    - image/jpeg
                    - image/png
                    - video/mp4
                    - audio/ogg
                    - application/pdf
                configuration:
                  businessAccountId: "1234567890"
                  phoneNumberId: "0987654321"
                  defaultSenderId: "+15559876543"
                health:
                  status: healthy
                  latencyMs: 120
                  lastCheckedAt: "2025-09-15T10:00:00Z"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateChannel
      summary: Update channel configuration
      description: |
        Update the configuration for a specific channel. Only the fields provided
        in the request body are updated; all other settings remain unchanged.
      tags:
        - Channels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelConfigUpdate'
            example:
              configuration:
                defaultSenderId: "+15559876543"
                callbackUrl: "https://example.com/webhooks/whatsapp"
      responses:
        "200":
          description: Channel configuration updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetail'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Webhooks
  # ─────────────────────────────────────────────
  /v1/webhooks:
    post:
      operationId: createWebhook
      summary: Register a webhook endpoint
      description: |
        Register a URL to receive real-time event notifications. You can subscribe
        to specific event types or use a wildcard to receive all events. The URL
        must be HTTPS and respond to a validation request with a 200 status.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
            example:
              url: "https://example.com/webhooks/messagerouter"
              events:
                - message.incoming
                - message.delivered
                - message.read
                - message.failed
              secret: "whsec_a1b2c3d4e5f6"
              description: "Production webhook for order notifications"
      responses:
        "201":
          description: Webhook registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
              example:
                id: "whk_01H9XKPB3GPT7C1QVR4CTWNX8M"
                url: "https://example.com/webhooks/messagerouter"
                events:
                  - message.incoming
                  - message.delivered
                  - message.read
                  - message.failed
                status: active
                description: "Production webhook for order notifications"
                createdAt: "2025-09-15T10:30:00.000Z"
                updatedAt: "2025-09-15T10:30:00.000Z"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listWebhooks
      summary: List registered webhooks
      description: Retrieve all webhook endpoints registered on your account.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of webhooks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhookId}:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    get:
      operationId: getWebhook
      summary: Get webhook details
      description: Retrieve details for a specific webhook endpoint.
      tags:
        - Webhooks
      responses:
        "200":
          description: Webhook details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateWebhook
      summary: Update a webhook
      description: |
        Update a webhook endpoint. Only the fields provided in the request body
        are modified. To pause a webhook, set its status to inactive.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
            example:
              events:
                - message.incoming
                - message.delivered
                - message.read
                - message.failed
                - dispatch.completed
              status: active
      responses:
        "200":
          description: Webhook updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: |
        Permanently remove a webhook endpoint. Events will no longer be delivered
        to the registered URL.
      tags:
        - Webhooks
      responses:
        "204":
          description: Webhook deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhookId}/test:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    post:
      operationId: testWebhook
      summary: Send a test event to a webhook
      description: |
        Trigger a synthetic test event to the webhook URL. Use this to verify
        that your endpoint is correctly configured and can process events.
        The test event uses the event type message.delivered by default, or
        you can specify which event type to test.
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  $ref: '#/components/schemas/WebhookEventType'
            example:
              event: message.incoming
      responses:
        "200":
          description: Test event sent. Returns the delivery result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the webhook endpoint responded with a 2xx status.
                  statusCode:
                    type: integer
                    description: The HTTP status code returned by the webhook endpoint.
                  responseTimeMs:
                    type: integer
                    description: Response time in milliseconds.
                  event:
                    $ref: '#/components/schemas/WebhookEventType'
              example:
                success: true
                statusCode: 200
                responseTimeMs: 145
                event: message.incoming
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
  # ─────────────────────────────────────────────
  # Contacts
  # ─────────────────────────────────────────────
  /v1/contacts:
    post:
      operationId: createContact
      summary: Create a contact
      description: |
        Create a new contact with one or more channel identities. A channel
        identity maps a contact to a specific identifier on a channel (e.g.,
        a phone number for SMS, a WhatsApp ID, etc.).
      tags:
        - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequest'
            example:
              displayName: "Jane Doe"
              email: "jane.doe@example.com"
              channelIdentities:
                - channel: sms
                  identity: "+15551234567"
                - channel: whatsapp
                  identity: "+15551234567"
                - channel: messenger
                  identity: "10155364675"
              metadata:
                customerId: "cust_abc123"
                tier: "premium"
      responses:
        "201":
          description: Contact created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "409":
          description: A contact with the same channel identity already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listContacts
      summary: List contacts
      description: Retrieve a paginated list of contacts with optional search.
      tags:
        - Contacts
      parameters:
        - name: search
          in: query
          description: Search contacts by name, email, or channel identity.
          schema:
            type: string
        - name: channel
          in: query
          description: Filter contacts that have an identity on this channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/contacts/{contactId}:
    parameters:
      - $ref: '#/components/parameters/ContactId'
    get:
      operationId: getContact
      summary: Get a contact
      description: Retrieve full details for a single contact.
      tags:
        - Contacts
      responses:
        "200":
          description: Contact details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateContact
      summary: Update a contact
      description: |
        Partially update a contact. Only the fields provided in the request
        body are modified. To add or remove channel identities, include the
        full channelIdentities array.
      tags:
        - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
            example:
              displayName: "Jane M. Doe"
              metadata:
                customerId: "cust_abc123"
                tier: "enterprise"
      responses:
        "200":
          description: Contact updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteContact
      summary: Delete a contact
      description: Permanently delete a contact and all associated channel identities.
      tags:
        - Contacts
      responses:
        "204":
          description: Contact deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/contacts/{contactId}/messages:
    parameters:
      - $ref: '#/components/parameters/ContactId'
    get:
      operationId: getContactMessages
      summary: Get a contact's message history
      description: |
        Retrieve the message history for a specific contact across all channels.
        Results are returned in reverse chronological order.
      tags:
        - Contacts
      parameters:
        - name: channel
          in: query
          description: Filter by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: direction
          in: query
          description: Filter by message direction.
          schema:
            type: string
            enum:
              - inbound
              - outbound
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of messages for this contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Templates
  # ─────────────────────────────────────────────
  /v1/templates:
    post:
      operationId: createTemplate
      summary: Create a message template
      description: |
        Create a reusable message template with parameterized placeholders.
        Templates are required for WhatsApp Business API initiated conversations
        and can be used on any channel to standardize message content.

        Parameters are referenced in the template body using double curly braces:
        `{{parameter_name}}`.
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateCreateRequest'
            example:
              name: "order_shipped"
              description: "Notify customer that their order has shipped"
              channel: whatsapp
              language: "en"
              content:
                type: text
                text: "Hi {{customer_name}}, your order {{order_id}} has been shipped! Track it here: {{tracking_url}}"
              parameters:
                - name: customer_name
                  description: "Customer's first name"
                  example: "Jane"
                - name: order_id
                  description: "Order identifier"
                  example: "ORD-98765"
                - name: tracking_url
                  description: "Package tracking URL"
                  example: "https://example.com/track/1234"
      responses:
        "201":
          description: Template created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "409":
          description: A template with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listTemplates
      summary: List templates
      description: Retrieve a paginated list of message templates.
      tags:
        - Templates
      parameters:
        - name: channel
          in: query
          description: Filter templates by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: status
          in: query
          description: Filter templates by approval status.
          schema:
            type: string
            enum:
              - pending
              - approved
              - rejected
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/templates/{templateId}:
    parameters:
      - $ref: '#/components/parameters/TemplateId'
    get:
      operationId: getTemplate
      summary: Get a template
      description: Retrieve full details for a single message template.
      tags:
        - Templates
      responses:
        "200":
          description: Template details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateTemplate
      summary: Update a template
      description: |
        Partially update a message template. Updating the content of an approved
        WhatsApp template will require re-approval.
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateUpdateRequest'
      responses:
        "200":
          description: Template updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteTemplate
      summary: Delete a template
      description: Permanently delete a message template.
      tags:
        - Templates
      responses:
        "204":
          description: Template deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
  # ─────────────────────────────────────────────
  # Dispatch Rules
  # ─────────────────────────────────────────────
  /v1/dispatch:
    post:
      operationId: createDispatchRule
      summary: Create a dispatch rule
      description: |
        Create a reusable multi-channel dispatch rule. Dispatch rules define how
        messages are routed across channels using a chosen strategy.

        **Strategies:**
        - **failover** -- Try channels in order. If delivery on the first channel
          fails or times out, fall through to the next.
        - **broadcast** -- Send the message on all specified channels simultaneously.
        - **round-robin** -- Distribute messages evenly across channels over time.
        - **cost-optimized** -- Automatically select the cheapest available channel
          that can reach the recipient.
      tags:
        - Dispatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRuleCreateRequest'
            example:
              name: "OTP Delivery"
              description: "Deliver one-time passwords with RCS-first failover"
              strategy: failover
              routes:
                - channel: rcs
                  ttl: 30
                  content:
                    type: text
                    text: "Your code is {{otp}}. Do not share it."
                - channel: whatsapp
                  ttl: 60
                  content:
                    type: template
                    id: "otp_template"
                    parameters:
                      code: "{{otp}}"
                - channel: sms
                  content:
                    type: text
                    text: "Your code is {{otp}}"
      responses:
        "201":
          description: Dispatch rule created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listDispatchRules
      summary: List dispatch rules
      description: Retrieve a paginated list of dispatch rules.
      tags:
        - Dispatch
      parameters:
        - name: strategy
          in: query
          description: Filter by dispatch strategy.
          schema:
            $ref: '#/components/schemas/DispatchStrategy'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of dispatch rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/dispatch/{dispatchId}:
    parameters:
      - $ref: '#/components/parameters/DispatchId'
    get:
      operationId: getDispatchRule
      summary: Get a dispatch rule
      description: Retrieve full details for a single dispatch rule.
      tags:
        - Dispatch
      responses:
        "200":
          description: Dispatch rule details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateDispatchRule
      summary: Update a dispatch rule
      description: Partially update a dispatch rule. Only the fields provided are modified.
      tags:
        - Dispatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DispatchRuleUpdateRequest'
      responses:
        "200":
          description: Dispatch rule updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DispatchRuleResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteDispatchRule
      summary: Delete a dispatch rule
      description: Permanently delete a dispatch rule. In-flight messages using this rule will complete normally.
      tags:
        - Dispatch
      responses:
        "204":
          description: Dispatch rule deleted successfully.
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Health & Status
  # ─────────────────────────────────────────────
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Returns the health status of the API. This endpoint does not require
        authentication and is intended for load balancers and monitoring systems.
      tags:
        - Health
      security: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - timestamp
                properties:
                  status:
                    type: string
                    enum:
                      - healthy
                      - degraded
                    description: Overall service health.
                  timestamp:
                    type: string
                    format: date-time
                    description: Current server time.
                  version:
                    type: string
                    description: API version string.
              example:
                status: healthy
                timestamp: "2025-09-15T10:30:00.000Z"
                version: "1.0.0"
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - unhealthy
                  timestamp:
                    type: string
                    format: date-time
                  details:
                    type: string

  /v1/status:
    get:
      operationId: getStatus
      summary: API status and channel health
      description: |
        Returns detailed status information for the API and each configured
        channel, including latency metrics and any ongoing incidents.
      tags:
        - Health
      responses:
        "200":
          description: Detailed API and channel status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              example:
                status: operational
                timestamp: "2025-09-15T10:30:00.000Z"
                version: "1.0.0"
                channels:
                  - id: sms
                    status: operational
                    latencyMs: 45
                    successRate: 0.998
                  - id: whatsapp
                    status: operational
                    latencyMs: 120
                    successRate: 0.995
                  - id: rcs
                    status: degraded
                    latencyMs: 890
                    successRate: 0.92
                    incident: "Elevated latency on RCS gateway. Investigating."
                incidents: []
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
components:
  # ═══════════════════════════════════════════════
  # Security Schemes
  # ═══════════════════════════════════════════════
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth 2.0 Bearer token. Obtain a token from the Sinch Dashboard or via
        the OAuth token endpoint. Include it in the Authorization header:
        `Authorization: Bearer <token>`
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key authentication. Pass your API key in the X-API-Key header.
        Suitable for server-to-server integrations. Obtain keys from the
        Sinch Dashboard.

  # ═══════════════════════════════════════════════
  # Parameters
  # ═══════════════════════════════════════════════
  parameters:
    MessageId:
      name: messageId
      in: path
      required: true
      description: Unique message identifier.
      schema:
        type: string
        example: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"

    WebhookId:
      name: webhookId
      in: path
      required: true
      description: Unique webhook identifier.
      schema:
        type: string
        example: "whk_01H9XKPB3GPT7C1QVR4CTWNX8M"

    ContactId:
      name: contactId
      in: path
      required: true
      description: Unique contact identifier.
      schema:
        type: string
        example: "con_01H9XKPB3GPT7C1QVR4CTWNX8M"

    TemplateId:
      name: templateId
      in: path
      required: true
      description: Unique template identifier.
      schema:
        type: string
        example: "tpl_01H9XKPB3GPT7C1QVR4CTWNX8M"

    DispatchId:
      name: dispatchId
      in: path
      required: true
      description: Unique dispatch rule identifier.
      schema:
        type: string
        example: "dsp_01H9XKPB3GPT7C1QVR4CTWNX8M"

    Limit:
      name: limit
      in: query
      description: |
        Maximum number of items to return per page. Defaults to 20, maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

    Cursor:
      name: cursor
      in: query
      description: |
        Opaque cursor for pagination. Pass the nextCursor value from a previous
        response to retrieve the next page.
      schema:
        type: string
        example: "eyJpZCI6Im1zZ18wMUg5..."

  # ═══════════════════════════════════════════════
  # Headers
  # ═══════════════════════════════════════════════
  headers:
    X-RateLimit-Limit:
      description: The maximum number of requests allowed in the current time window.
      schema:
        type: integer
        example: 1000

    X-RateLimit-Remaining:
      description: The number of requests remaining in the current time window.
      schema:
        type: integer
        example: 997

    X-RateLimit-Reset:
      description: The Unix timestamp (seconds) at which the current rate-limit window resets.
      schema:
        type: integer
        example: 1694778600

  # ═══════════════════════════════════════════════
  # Responses (shared error responses)
  # ═══════════════════════════════════════════════
  responses:
    BadRequest:
      description: The request body is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "invalid_request"
              message: "The 'to' field must be a valid E.164 phone number or contact ID."
              status: 400
              details:
                - field: "to"
                  issue: "Invalid phone number format. Expected E.164 (e.g., +15551234567)."

    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "unauthorized"
              message: "Invalid or expired authentication token."
              status: 401

    Forbidden:
      description: The authenticated user does not have permission to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "forbidden"
              message: "Your account does not have permission to send messages on the WhatsApp channel."
              status: 403

    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "not_found"
              message: "The requested resource was not found."
              status: 404

    TooManyRequests:
      description: Rate limit exceeded. Retry after the time indicated in the Retry-After header.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
            example: 30
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "rate_limit_exceeded"
              message: "You have exceeded the rate limit. Please retry after 30 seconds."
              status: 429

    InternalServerError:
      description: An unexpected error occurred on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "internal_error"
              message: "An unexpected error occurred. Please try again later."
              status: 500
              requestId: "req_01H9XKPB3GPT7C1QVR4CTWNX8M"

    ServiceUnavailable:
      description: The service is temporarily unavailable. Retry with exponential backoff.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
            example: 60
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "service_unavailable"
              message: "The service is temporarily unavailable. Please try again later."
              status: 503
  # ═══════════════════════════════════════════════
  # Schemas
  # ═══════════════════════════════════════════════
  schemas:
    # ─────────────────────────────────────
    # Enums
    # ─────────────────────────────────────
    Channel:
      type: string
      description: The messaging channel to use for delivery.
      enum:
        - sms
        - rcs
        - whatsapp
        - messenger
        - viber
        - telegram
        - mms
        - line
        - kakaotalk
        - instagram
      example: sms

    MessageStatus:
      type: string
      description: |
        The current delivery status of a message.
        - **queued** -- Message accepted and waiting to be sent.
        - **submitted** -- Message submitted to the channel provider.
        - **delivered** -- Message confirmed delivered to the recipient's device.
        - **read** -- Recipient has read the message (channels that support read receipts).
        - **failed** -- Message delivery failed.
        - **revoked** -- Message was cancelled before submission.
        - **expired** -- Message TTL elapsed before delivery.
      enum:
        - queued
        - submitted
        - delivered
        - read
        - failed
        - revoked
        - expired
      example: delivered

    DispatchStrategy:
      type: string
      description: |
        The routing strategy for multi-channel dispatch.
        - **failover** -- Try channels in sequence; fall through on failure or timeout.
        - **broadcast** -- Send on all channels simultaneously.
        - **round-robin** -- Distribute messages across channels evenly over time.
        - **cost-optimized** -- Automatically select the cheapest reachable channel.
      enum:
        - failover
        - broadcast
        - round-robin
        - cost-optimized
      example: failover

    Priority:
      type: string
      description: Message delivery priority.
      enum:
        - high
        - normal
        - low
      default: normal
      example: normal

    WebhookEventType:
      type: string
      description: The type of event delivered to a webhook.
      enum:
        - message.incoming
        - message.delivered
        - message.read
        - message.failed
        - message.submitted
        - dispatch.completed
        - dispatch.failed
      example: message.delivered

    # ─────────────────────────────────────
    # Error
    # ─────────────────────────────────────
    Error:
      type: object
      description: Standard error response envelope.
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - status
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: "invalid_request"
            message:
              type: string
              description: Human-readable error description.
              example: "The 'to' field must be a valid E.164 phone number."
            status:
              type: integer
              description: HTTP status code.
              example: 400
            requestId:
              type: string
              description: Unique request identifier for support inquiries.
              example: "req_01H9XKPB3GPT7C1QVR4CTWNX8M"
            details:
              type: array
              description: Detailed validation errors, if applicable.
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: The field that caused the error.
                  issue:
                    type: string
                    description: A description of what is wrong with the field.

    # ─────────────────────────────────────
    # Pagination
    # ─────────────────────────────────────
    PaginationMeta:
      type: object
      description: Cursor-based pagination metadata.
      required:
        - hasMore
      properties:
        hasMore:
          type: boolean
          description: Whether there are more results beyond this page.
        nextCursor:
          type: string
          nullable: true
          description: |
            Opaque cursor to pass as the cursor query parameter to fetch the
            next page. Null when there are no more results.
          example: "eyJpZCI6Im1zZ18wMUg5..."
        totalCount:
          type: integer
          description: |
            Approximate total number of results matching the query. This value
            is best-effort and may not be exact for very large result sets.
          example: 1042

    # ─────────────────────────────────────
    # Content Types (discriminated union)
    # ─────────────────────────────────────
    MessageContent:
      description: |
        Polymorphic message content. The type field acts as a discriminator to
        determine the shape of the content object.
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContent'
          media: '#/components/schemas/MediaContent'
          card: '#/components/schemas/CardContent'
          carousel: '#/components/schemas/CarouselContent'
          location: '#/components/schemas/LocationContent'
          template: '#/components/schemas/TemplateContent'
          list: '#/components/schemas/ListContent'
          choices: '#/components/schemas/ChoicesContent'
      oneOf:
        - $ref: '#/components/schemas/TextContent'
        - $ref: '#/components/schemas/MediaContent'
        - $ref: '#/components/schemas/CardContent'
        - $ref: '#/components/schemas/CarouselContent'
        - $ref: '#/components/schemas/LocationContent'
        - $ref: '#/components/schemas/TemplateContent'
        - $ref: '#/components/schemas/ListContent'
        - $ref: '#/components/schemas/ChoicesContent'

    TextContent:
      type: object
      description: Plain text message content.
      required:
        - type
        - text
      properties:
        type:
          type: string
          const: text
        text:
          type: string
          description: The message text. Maximum length depends on the channel.
          maxLength: 8000
          example: "Hello from MessageRouter!"

    MediaContent:
      type: object
      description: Media message (image, video, audio, or document).
      required:
        - type
        - url
        - mediaType
      properties:
        type:
          type: string
          const: media
        url:
          type: string
          format: uri
          description: Publicly accessible URL of the media file.
          example: "https://example.com/image.jpg"
        mediaType:
          type: string
          description: The type of media being sent.
          enum:
            - image
            - video
            - audio
            - document
          example: image
        caption:
          type: string
          description: Optional caption displayed with the media.
          maxLength: 1024
          example: "Check out this photo!"
        filename:
          type: string
          description: Suggested filename for document downloads.
          example: "receipt.pdf"

    CardContent:
      type: object
      description: |
        A rich card with a title, description, optional media, and action buttons.
        Supported on RCS, WhatsApp, Messenger, and other rich channels. On
        channels that do not support cards the content is rendered as text with links.
      required:
        - type
        - title
      properties:
        type:
          type: string
          const: card
        title:
          type: string
          description: Card title.
          maxLength: 200
          example: "Summer Sale"
        description:
          type: string
          description: Card description or body text.
          maxLength: 2000
          example: "50% off all items this weekend only."
        media:
          $ref: '#/components/schemas/CardMedia'
        actions:
          type: array
          description: Action buttons displayed on the card.
          maxItems: 4
          items:
            $ref: '#/components/schemas/Action'

    CardMedia:
      type: object
      description: Media attachment for a card.
      required:
        - url
        - type
      properties:
        url:
          type: string
          format: uri
          description: Publicly accessible URL of the media file.
          example: "https://example.com/banner.jpg"
        type:
          type: string
          enum:
            - image
            - video
          description: Media type.
          example: image
        height:
          type: string
          enum:
            - short
            - medium
            - tall
          description: Suggested display height for the media.
          default: medium

    Action:
      type: object
      description: An interactive action button.
      required:
        - type
        - title
        - payload
      properties:
        type:
          type: string
          description: The action type.
          enum:
            - reply
            - url
            - call
          example: url
        title:
          type: string
          description: Button label displayed to the user.
          maxLength: 25
          example: "Shop Now"
        payload:
          type: string
          description: |
            Action payload. For reply actions this is a developer-defined string
            returned in the webhook. For url actions this is the URL to open.
            For call actions this is the phone number to dial.
          example: "https://example.com/sale"

    CarouselContent:
      type: object
      description: |
        A horizontal scrollable carousel of cards. Each card can have its own
        title, description, media, and actions. Requires at least 2 cards.
      required:
        - type
        - cards
      properties:
        type:
          type: string
          const: carousel
        cards:
          type: array
          description: The cards in the carousel.
          minItems: 2
          maxItems: 10
          items:
            $ref: '#/components/schemas/CarouselCard'

    CarouselCard:
      type: object
      description: A single card within a carousel.
      required:
        - title
      properties:
        title:
          type: string
          maxLength: 200
          example: "Product A"
        description:
          type: string
          maxLength: 2000
        media:
          $ref: '#/components/schemas/CardMedia'
        actions:
          type: array
          maxItems: 4
          items:
            $ref: '#/components/schemas/Action'

    LocationContent:
      type: object
      description: A location pin with optional name and address.
      required:
        - type
        - lat
        - lng
      properties:
        type:
          type: string
          const: location
        lat:
          type: number
          format: double
          description: Latitude in decimal degrees.
          minimum: -90
          maximum: 90
          example: 37.7749
        lng:
          type: number
          format: double
          description: Longitude in decimal degrees.
          minimum: -180
          maximum: 180
          example: -122.4194
        name:
          type: string
          description: Name of the location.
          example: "Sinch HQ"
        address:
          type: string
          description: Street address of the location.
          example: "123 Market St, San Francisco, CA 94105"

    TemplateContent:
      type: object
      description: |
        A pre-approved message template. Required for WhatsApp Business API
        initiated (outbound) conversations. Reference a template by its ID
        and supply parameter values.
      required:
        - type
        - id
        - parameters
      properties:
        type:
          type: string
          const: template
        id:
          type: string
          description: Template identifier (name or ID).
          example: "order_confirmation_v2"
        parameters:
          type: object
          description: Key-value map of template parameter names to their values.
          additionalProperties:
            type: string
          example:
            customer_name: "Jane"
            order_id: "ORD-98765"

    ListContent:
      type: object
      description: |
        An interactive list message with sections. The user taps a button to
        expand the list and can select an item. Supported on WhatsApp.
      required:
        - type
        - title
        - sections
      properties:
        type:
          type: string
          const: list
        title:
          type: string
          description: Header text displayed above the list.
          maxLength: 60
          example: "Select a product"
        buttonText:
          type: string
          description: Text on the button that opens the list.
          maxLength: 20
          default: "View options"
        sections:
          type: array
          description: Grouped sections of list items.
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/ListSection'

    ListSection:
      type: object
      description: A section within a list message.
      required:
        - title
        - items
      properties:
        title:
          type: string
          description: Section heading.
          maxLength: 24
          example: "Popular Items"
        items:
          type: array
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/ListItem'

    ListItem:
      type: object
      description: An individual selectable item in a list section.
      required:
        - id
        - title
      properties:
        id:
          type: string
          description: Unique identifier for this item, returned in the webhook when selected.
          example: "item_001"
        title:
          type: string
          description: Item title.
          maxLength: 24
          example: "Margherita Pizza"
        description:
          type: string
          description: Optional item description.
          maxLength: 72
          example: "Classic tomato, mozzarella, and basil."

    ChoicesContent:
      type: object
      description: |
        A text message with quick-reply buttons or suggested actions. On channels
        that do not support interactive buttons, the choices are appended as
        numbered options in the text.
      required:
        - type
        - text
        - choices
      properties:
        type:
          type: string
          const: choices
        text:
          type: string
          description: The message text displayed above the choices.
          maxLength: 4096
          example: "How would you like to proceed?"
        choices:
          type: array
          description: Interactive choice buttons.
          minItems: 1
          maxItems: 13
          items:
            $ref: '#/components/schemas/Action'
    # ─────────────────────────────────────
    # Message Schemas
    # ─────────────────────────────────────
    MessageRequest:
      type: object
      description: |
        Request body for sending a message. At minimum, provide a recipient (to)
        and either a body (shorthand for plain text) or a content object.

        The API defaults to the SMS channel when channel is omitted, making the
        simplest possible request just: `{ "to": "+15551234567", "body": "Hello" }`.
      required:
        - to
      properties:
        to:
          type: string
          description: |
            Recipient identifier. An E.164 phone number (e.g., +15551234567) or
            a contact ID (e.g., con_01H9...).
          example: "+15551234567"
        from:
          type: string
          description: |
            Sender identifier. If omitted, the default sender for the selected
            channel is used.
          example: "+15559876543"
        channel:
          $ref: '#/components/schemas/Channel'
          default: sms
        body:
          type: string
          description: |
            Plain text message body. This is a convenience shorthand -- when
            provided, the API wraps it in a TextContent object automatically.
            Mutually preferred over content; if both are provided, content takes
            precedence.
          maxLength: 8000
          example: "Hello from MessageRouter!"
        content:
          $ref: '#/components/schemas/MessageContent'
        dispatch:
          $ref: '#/components/schemas/InlineDispatch'
        callbackUrl:
          type: string
          format: uri
          description: |
            Per-message callback URL. If provided, delivery status events for this
            message are sent to this URL instead of (or in addition to) registered
            webhooks.
          example: "https://example.com/callbacks/msg123"
        metadata:
          type: object
          description: |
            Arbitrary key-value pairs attached to the message. Returned in webhooks
            and API responses. Maximum 10 keys, 256 characters per key, 1024
            characters per value.
          additionalProperties:
            type: string
          example:
            orderId: "ORD-98765"
            campaign: "summer_sale"
        ttl:
          type: integer
          description: |
            Time-to-live in seconds. If the message cannot be delivered within
            this window it expires and a message.failed event is emitted.
          minimum: 1
          maximum: 604800
          example: 3600
        priority:
          $ref: '#/components/schemas/Priority'

    InlineDispatch:
      type: object
      description: |
        Inline dispatch configuration for a single message. Overrides any
        default dispatch rule. Define a strategy and a list of channel routes.
      required:
        - strategy
        - routes
      properties:
        strategy:
          $ref: '#/components/schemas/DispatchStrategy'
        routes:
          type: array
          description: Ordered list of channel routes.
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/DispatchRoute'

    DispatchRoute:
      type: object
      description: A single route in a dispatch configuration.
      required:
        - channel
      properties:
        channel:
          $ref: '#/components/schemas/Channel'
        content:
          $ref: '#/components/schemas/MessageContent'
        ttl:
          type: integer
          description: |
            Time-to-live in seconds for this route. In a failover strategy, if
            delivery is not confirmed within this window the next route is tried.
          minimum: 1
          maximum: 604800
          example: 30
        from:
          type: string
          description: Override sender for this route.

    MessageResponse:
      type: object
      description: Full message details as returned by the API.
      required:
        - id
        - to
        - channel
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Unique message identifier.
          example: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"
        to:
          type: string
          description: Recipient identifier.
          example: "+15551234567"
        from:
          type: string
          description: Sender identifier.
          example: "+15559876543"
        channel:
          $ref: '#/components/schemas/Channel'
        status:
          $ref: '#/components/schemas/MessageStatus'
        direction:
          type: string
          enum:
            - outbound
            - inbound
          description: Whether the message was sent or received.
          example: outbound
        content:
          $ref: '#/components/schemas/MessageContent'
        metadata:
          type: object
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the message was accepted by the API.
          example: "2025-09-15T10:30:00.000Z"
        submittedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the message was submitted to the channel provider.
          example: "2025-09-15T10:30:01.000Z"
        deliveredAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when delivery was confirmed.
          example: "2025-09-15T10:30:03.000Z"
        readAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the recipient read the message (if supported).
        failedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the message failed.
        statusHistory:
          type: array
          description: Ordered list of status transitions with timestamps.
          items:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/MessageStatus'
              timestamp:
                type: string
                format: date-time
              detail:
                type: string
                description: Optional detail about this status transition.
        cost:
          type: object
          nullable: true
          description: Estimated or actual cost of the message.
          properties:
            amount:
              type: string
              description: Cost amount as a decimal string.
              example: "0.0075"
            currency:
              type: string
              description: ISO 4217 currency code.
              example: "USD"
        segments:
          type: integer
          nullable: true
          description: Number of SMS segments (only applicable to SMS/MMS).
          example: 1
        error:
          type: object
          nullable: true
          description: Error details if the message failed.
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: "undeliverable"
            message:
              type: string
              description: Human-readable error description.
              example: "The recipient's device is unreachable."
            channel:
              $ref: '#/components/schemas/Channel'

    MessageList:
      type: object
      description: Paginated list of messages.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageResponse'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    # ─────────────────────────────────────
    # Batch Message Schemas
    # ─────────────────────────────────────
    BatchMessageRequest:
      type: object
      description: |
        Send the same message to multiple recipients. Each recipient may
        optionally override the channel. Maximum 1000 recipients per batch.
      required:
        - recipients
      properties:
        recipients:
          type: array
          description: List of recipients.
          minItems: 1
          maxItems: 1000
          items:
            type: object
            required:
              - to
            properties:
              to:
                type: string
                description: Recipient identifier (E.164 phone number or contact ID).
                example: "+15551234567"
              channel:
                $ref: '#/components/schemas/Channel'
              metadata:
                type: object
                additionalProperties:
                  type: string
                description: Per-recipient metadata overrides.
        body:
          type: string
          description: Text body shared across all recipients.
          example: "Flash sale starts now!"
        content:
          $ref: '#/components/schemas/MessageContent'
        channel:
          $ref: '#/components/schemas/Channel'
          default: sms
        from:
          type: string
          description: Sender identifier.
        callbackUrl:
          type: string
          format: uri
          description: Callback URL for batch-level delivery events.
        metadata:
          type: object
          additionalProperties:
            type: string
        priority:
          $ref: '#/components/schemas/Priority'

    BatchMessageResponse:
      type: object
      description: Response for a batch send operation.
      required:
        - batchId
        - totalRecipients
        - status
        - createdAt
      properties:
        batchId:
          type: string
          description: Unique batch identifier for tracking.
          example: "bat_01H9XKPB3GPT7C1QVR4CTWNX8M"
        totalRecipients:
          type: integer
          description: Number of recipients in the batch.
          example: 3
        accepted:
          type: integer
          description: Number of messages accepted for delivery.
          example: 3
        rejected:
          type: integer
          description: Number of messages rejected due to validation errors.
          example: 0
        status:
          type: string
          enum:
            - processing
            - completed
            - partial_failure
          description: Overall batch status.
          example: processing
        messages:
          type: array
          description: Per-recipient message details (included when batch is small).
          items:
            type: object
            properties:
              messageId:
                type: string
              to:
                type: string
              status:
                $ref: '#/components/schemas/MessageStatus'
              error:
                type: string
                nullable: true
        createdAt:
          type: string
          format: date-time
          example: "2025-09-15T10:30:00.000Z"
