openapi: 3.1.0
info:
  title: Sinch MessageRouter API
  version: 1.0.0
  description: |
    A developer-friendly unified messaging API built as a modern wrapper around the
    Sinch Conversation API. Inspired by Twilio's simplicity but designed for the
    multi-channel era.

    ## Design Principles

    1. **Progressive discovery** -- Simple things are simple, complex things are possible.
       Send an SMS with just a phone number and a body. When you need rich content,
       multi-channel dispatch, or advanced routing, the tools are there.
    2. **SMS first** -- SMS is the default channel. If you omit the channel parameter
       your message is sent as SMS. No extra configuration required.
    3. **Channel as a parameter** -- Switching channels is a one-field change, not a
       different API or a deeply nested payload.
    4. **Polymorphic content** -- Rich content (cards, carousels, location pins,
       and more) is expressed through a discriminated union on the content.type field,
       keeping payloads flat and predictable.

    ## Quick Start

    Send your first message in one call:

    ```bash
    curl -X POST https://api.messagerouter.sinch.com/v1/messages \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -H "Content-Type: application/json" \
      -d '{ "to": "+15551234567", "body": "Hello from MessageRouter!" }'
    ```

    ## Authentication

    All endpoints require authentication via either a Bearer token or an API key
    passed in the X-API-Key header. Obtain credentials from the Sinch Dashboard.

    ## Rate Limiting

    Every response includes rate-limit headers. When you hit the limit you receive
    a 429 response with a Retry-After header.

    ## Pagination

    List endpoints use cursor-based pagination. Pass the cursor value from the
    response's nextCursor field as the cursor query parameter to fetch the next page.

    ## Resource IDs

    All resource identifiers use a typed prefix for easy identification:
    `msg_` (messages), `whk_` (webhooks).

    ## Idempotency

    All POST endpoints accept an `Idempotency-Key` header. If you retry a request
    with the same key within 24 hours, the API returns the original response without
    creating a duplicate resource. Keys are scoped to your account.
  contact:
    name: Sinch Developer Support
    url: https://developers.sinch.com
    email: support@sinch.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: https://developers.sinch.com/logo.png
    altText: Sinch MessageRouter

servers:
  - url: https://api.messagerouter.sinch.com
    description: Production
  - url: https://api-sandbox.messagerouter.sinch.com
    description: Sandbox (test environment)
  - url: https://api-eu.messagerouter.sinch.com
    description: EU region (production)

security:
  - BearerAuth: []
  - ApiKeyAuth: []

tags:
  - name: Messages
    description: |
      Send and retrieve messages across all supported channels.
      The simplest call requires only a recipient and a body -- the API defaults
      to SMS. For rich content, set the content object with a type discriminator.
      For multi-channel dispatch, add an inline dispatch object.
  - name: Channels
    description: |
      Inspect and configure the messaging channels available on your account.
      Each channel exposes its capabilities (rich cards, read receipts, typing
      indicators, etc.) so you can build adaptive UIs. Channel onboarding is
      done through the Sinch Dashboard; the API is for reading status and
      updating configuration.
  - name: Webhooks
    description: |
      Register HTTP endpoints to receive real-time event notifications for
      incoming messages, delivery receipts, read receipts, and failures.
  - name: Health
    description: Service health, status, and per-channel diagnostics.

paths:
  # ─────────────────────────────────────────────
  # Messages
  # ─────────────────────────────────────────────
  /v1/messages:
    post:
      operationId: sendMessage
      summary: Send a message
      description: |
        Send a message to a recipient on any supported channel. At its simplest,
        provide a phone number and a body to send an SMS. Add a channel field to
        switch channels, or use the content object for rich media.

        **Simple SMS:**
        ```json
        { "to": "+15551234567", "body": "Hello!" }
        ```

        **WhatsApp with rich card:**
        ```json
        {
          "to": "+15551234567",
          "channel": "whatsapp",
          "content": {
            "type": "card",
            "title": "Order Confirmation",
            "description": "Your order #1234 has shipped.",
            "media": { "url": "https://example.com/tracking.png", "type": "image" },
            "actions": [
              { "type": "url", "title": "Track Package", "payload": "https://example.com/track/1234" }
            ]
          }
        }
        ```

        **Dispatch with failover:**
        ```json
        {
          "to": "+15551234567",
          "body": "Your code is 123456",
          "dispatch": {
            "strategy": "failover",
            "routes": [
              { "channel": "rcs", "ttl": 30 },
              { "channel": "sms" }
            ]
          }
        }
        ```

        You must provide either `body` or `content`, but not both. Providing
        both returns a 400 validation error.
      tags:
        - Messages
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageRequest'
            examples:
              simpleSms:
                summary: Simple SMS
                value:
                  to: "+15551234567"
                  body: "Hello from MessageRouter!"
              whatsappText:
                summary: WhatsApp text message
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  body: "Hello via WhatsApp!"
              richCard:
                summary: RCS rich card
                value:
                  to: "+15551234567"
                  channel: rcs
                  content:
                    type: card
                    title: "Summer Sale"
                    description: "50% off all items this weekend."
                    media:
                      url: "https://example.com/sale-banner.jpg"
                      type: image
                    actions:
                      - type: url
                        title: "Shop Now"
                        payload: "https://example.com/sale"
              mediaMessage:
                summary: Image with caption
                value:
                  to: "+15551234567"
                  channel: whatsapp
                  content:
                    type: media
                    url: "https://example.com/receipt.pdf"
                    mediaType: document
                    caption: "Your receipt is attached."
              dispatchFailover:
                summary: Failover dispatch
                value:
                  to: "+15551234567"
                  body: "Your verification code is 483921"
                  dispatch:
                    strategy: failover
                    routes:
                      - channel: rcs
                        ttl: 30
                      - channel: whatsapp
                        ttl: 60
                      - channel: sms
      responses:
        "201":
          description: Message accepted for delivery.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                id: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"
                to: "+15551234567"
                from: "+15559876543"
                channel: sms
                status: queued
                content:
                  type: text
                  text: "Hello from MessageRouter!"
                metadata: {}
                createdAt: "2025-09-15T10:30:00.000Z"
                statusHistory:
                  - status: queued
                    timestamp: "2025-09-15T10:30:00.000Z"
                cost:
                  amount: "0.0075"
                  currency: "USD"
                segments: 1
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'

    get:
      operationId: listMessages
      summary: List messages
      description: |
        Retrieve a paginated list of messages with optional filters. Results are
        returned in reverse chronological order (newest first). Use cursor-based
        pagination to iterate through large result sets.
      tags:
        - Messages
      parameters:
        - name: status
          in: query
          description: Filter by message status.
          schema:
            $ref: '#/components/schemas/MessageStatus'
        - name: channel
          in: query
          description: Filter by channel.
          schema:
            $ref: '#/components/schemas/Channel'
        - name: to
          in: query
          description: Filter by recipient identifier (E.164 phone number).
          schema:
            type: string
            example: "+15551234567"
        - name: from
          in: query
          description: Filter by sender identifier.
          schema:
            type: string
        - name: direction
          in: query
          description: Filter by message direction.
          schema:
            type: string
            enum:
              - inbound
              - outbound
        - name: startDate
          in: query
          description: Return messages created on or after this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2025-09-01T00:00:00Z"
        - name: endDate
          in: query
          description: Return messages created on or before this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
            example: "2025-09-30T23:59:59Z"
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of messages.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/messages/{messageId}:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    get:
      operationId: getMessage
      summary: Get message details
      description: |
        Retrieve full details for a single message including its complete status
        history showing every state transition with timestamps.
      tags:
        - Messages
      responses:
        "200":
          description: Message details.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Channels
  # ─────────────────────────────────────────────
  /v1/channels:
    get:
      operationId: listChannels
      summary: List available channels
      description: |
        Retrieve all messaging channels configured on your account along with
        their current status and capabilities. Use this to discover which
        channels support rich cards, read receipts, typing indicators, and
        other features.
      tags:
        - Channels
      responses:
        "200":
          description: A list of channels.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelInfo'
              example:
                data:
                  - id: sms
                    name: SMS
                    status: active
                    capabilities:
                      richCards: false
                      readReceipts: false
                      typingIndicators: false
                      media: false
                      maxMessageLength: 1600
                  - id: whatsapp
                    name: WhatsApp
                    status: active
                    capabilities:
                      richCards: true
                      readReceipts: true
                      typingIndicators: true
                      media: true
                      maxMessageLength: 4096
                  - id: rcs
                    name: RCS
                    status: active
                    capabilities:
                      richCards: true
                      readReceipts: true
                      typingIndicators: true
                      media: true
                      maxMessageLength: 8000
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/channels/{channelId}:
    parameters:
      - name: channelId
        in: path
        required: true
        description: The channel identifier.
        schema:
          $ref: '#/components/schemas/Channel'
    get:
      operationId: getChannel
      summary: Get channel details
      description: |
        Retrieve detailed information about a specific channel including its
        configuration, capabilities, and current health status.
      tags:
        - Channels
      responses:
        "200":
          description: Channel details.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetail'
              example:
                id: whatsapp
                name: WhatsApp
                status: active
                capabilities:
                  richCards: true
                  readReceipts: true
                  typingIndicators: true
                  media: true
                  maxMessageLength: 4096
                  supportedMediaTypes:
                    - image/jpeg
                    - image/png
                    - video/mp4
                    - audio/ogg
                    - application/pdf
                configuration:
                  businessAccountId: "1234567890"
                  phoneNumberId: "0987654321"
                  defaultSenderId: "+15559876543"
                health:
                  status: healthy
                  latencyMs: 120
                  lastCheckedAt: "2025-09-15T10:00:00Z"
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateChannel
      summary: Update channel configuration
      description: |
        Replace the mutable configuration for a specific channel. Send the
        complete set of mutable fields — omitted fields are reset to defaults.
        Channel provisioning and onboarding is done through the Sinch Dashboard;
        this endpoint is for automation of configuration changes.
      tags:
        - Channels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelConfigUpdate'
            example:
              configuration:
                defaultSenderId: "+15559876543"
                callbackUrl: "https://example.com/webhooks/whatsapp"
      responses:
        "200":
          description: Channel configuration updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetail'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Webhooks
  # ─────────────────────────────────────────────
  /v1/webhooks:
    post:
      operationId: createWebhook
      summary: Register a webhook endpoint
      description: |
        Register a URL to receive real-time event notifications. You can subscribe
        to specific event types or use a wildcard to receive all events. The URL
        must be HTTPS and respond to a validation request with a 200 status.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
            example:
              url: "https://example.com/webhooks/messagerouter"
              events:
                - message.incoming
                - message.delivered
                - message.read
                - message.failed
              secret: "whsec_a1b2c3d4e5f6"
              description: "Production webhook for order notifications"
      responses:
        "201":
          description: Webhook registered successfully.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
              example:
                id: "whk_01H9XKPB3GPT7C1QVR4CTWNX8M"
                url: "https://example.com/webhooks/messagerouter"
                events:
                  - message.incoming
                  - message.delivered
                  - message.read
                  - message.failed
                status: active
                description: "Production webhook for order notifications"
                createdAt: "2025-09-15T10:30:00.000Z"
                updatedAt: "2025-09-15T10:30:00.000Z"
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listWebhooks
      summary: List registered webhooks
      description: Retrieve all webhook endpoints registered on your account.
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        "200":
          description: A paginated list of webhooks.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhookId}:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    get:
      operationId: getWebhook
      summary: Get webhook details
      description: Retrieve details for a specific webhook endpoint.
      tags:
        - Webhooks
      responses:
        "200":
          description: Webhook details.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateWebhook
      summary: Update a webhook
      description: |
        Replace a webhook endpoint's configuration. Send the complete set of
        mutable fields. To pause a webhook, set its status to inactive.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateRequest'
            example:
              url: "https://example.com/webhooks/messagerouter"
              events:
                - message.incoming
                - message.delivered
                - message.read
                - message.failed
              status: active
      responses:
        "200":
          description: Webhook updated.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      description: |
        Permanently remove a webhook endpoint. Events will no longer be delivered
        to the registered URL.
      tags:
        - Webhooks
      responses:
        "204":
          description: Webhook deleted successfully.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{webhookId}/test:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    post:
      operationId: testWebhook
      summary: Send a test event to a webhook
      description: |
        Trigger a synthetic test event to the webhook URL. Use this to verify
        that your endpoint is correctly configured and can process events.
        The test event uses the event type message.delivered by default, or
        you can specify which event type to test.
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  $ref: '#/components/schemas/WebhookEventType'
            example:
              event: message.incoming
      responses:
        "200":
          description: Test event sent. Returns the delivery result.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the webhook endpoint responded with a 2xx status.
                  statusCode:
                    type: integer
                    description: The HTTP status code returned by the webhook endpoint.
                  responseTimeMs:
                    type: integer
                    description: Response time in milliseconds.
                  event:
                    $ref: '#/components/schemas/WebhookEventType'
              example:
                success: true
                statusCode: 200
                responseTimeMs: 145
                event: message.incoming
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # ─────────────────────────────────────────────
  # Health
  # ─────────────────────────────────────────────
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: |
        Returns the health status of the API and per-channel diagnostics.
        Without authentication, returns only the top-level status for use by
        load balancers. With authentication, includes per-channel health,
        latency metrics, and any ongoing incidents.
      tags:
        - Health
      security:
        - {}
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                unauthenticated:
                  summary: Basic health (no auth)
                  value:
                    status: healthy
                    timestamp: "2025-09-15T10:30:00.000Z"
                    version: "1.0.0"
                authenticated:
                  summary: Full health with channel diagnostics (authenticated)
                  value:
                    status: healthy
                    timestamp: "2025-09-15T10:30:00.000Z"
                    version: "1.0.0"
                    channels:
                      - id: sms
                        status: operational
                        latencyMs: 45
                        successRate: 0.998
                      - id: whatsapp
                        status: operational
                        latencyMs: 120
                        successRate: 0.995
                      - id: rcs
                        status: degraded
                        latencyMs: 890
                        successRate: 0.92
                        incident: "Elevated latency on RCS gateway. Investigating."
                    incidents: []
        "503":
          description: Service is unhealthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - unhealthy
                  timestamp:
                    type: string
                    format: date-time
                  details:
                    type: string

components:
  # ═══════════════════════════════════════════════
  # Security Schemes
  # ═══════════════════════════════════════════════
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth 2.0 Bearer token. Obtain a token from the Sinch Dashboard or via
        the OAuth token endpoint. Include it in the Authorization header:
        `Authorization: Bearer <token>`
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key authentication. Pass your API key in the X-API-Key header.
        Suitable for server-to-server integrations. Obtain keys from the
        Sinch Dashboard.

  # ═══════════════════════════════════════════════
  # Parameters
  # ═══════════════════════════════════════════════
  parameters:
    MessageId:
      name: messageId
      in: path
      required: true
      description: Unique message identifier.
      schema:
        type: string
        example: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"

    WebhookId:
      name: webhookId
      in: path
      required: true
      description: Unique webhook identifier.
      schema:
        type: string
        example: "whk_01H9XKPB3GPT7C1QVR4CTWNX8M"

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        Unique key for idempotent requests. If you retry a request with the same
        key within 24 hours, the API returns the original response without
        creating a duplicate resource.
      schema:
        type: string
        example: "idk_a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    Limit:
      name: limit
      in: query
      description: |
        Maximum number of items to return per page. Defaults to 20, maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

    Cursor:
      name: cursor
      in: query
      description: |
        Opaque cursor for pagination. Pass the nextCursor value from a previous
        response to retrieve the next page.
      schema:
        type: string
        example: "eyJpZCI6Im1zZ18wMUg5..."

  # ═══════════════════════════════════════════════
  # Headers
  # ═══════════════════════════════════════════════
  headers:
    X-Request-Id:
      description: |
        Unique identifier for this request. Include this value in support
        tickets for faster debugging.
      schema:
        type: string
        example: "req_01H9XKPB3GPT7C1QVR4CTWNX8M"

    X-RateLimit-Limit:
      description: The maximum number of requests allowed in the current time window.
      schema:
        type: integer
        example: 1000

    X-RateLimit-Remaining:
      description: The number of requests remaining in the current time window.
      schema:
        type: integer
        example: 997

    X-RateLimit-Reset:
      description: The Unix timestamp (seconds) at which the current rate-limit window resets.
      schema:
        type: integer
        example: 1694778600

  # ═══════════════════════════════════════════════
  # Responses (shared error responses)
  # ═══════════════════════════════════════════════
  responses:
    BadRequest:
      description: The request body is malformed or contains invalid parameters.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "invalid_request"
            message: "The 'to' field must be a valid E.164 phone number."
            status: 400
            requestId: "req_01H9XKPB3GPT7C1QVR4CTWNX8M"
            details:
              - field: "to"
                issue: "Invalid phone number format. Expected E.164 (e.g., +15551234567)."

    Unauthorized:
      description: Authentication credentials are missing or invalid.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "unauthorized"
            message: "Invalid or expired authentication token."
            status: 401

    Forbidden:
      description: The authenticated user does not have permission to perform this action.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "forbidden"
            message: "Your account does not have permission to send messages on the WhatsApp channel."
            status: 403

    NotFound:
      description: The requested resource was not found.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "not_found"
            message: "The requested resource was not found."
            status: 404

    TooManyRequests:
      description: Rate limit exceeded. Retry after the time indicated in the Retry-After header.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
            example: 30
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "rate_limit_exceeded"
            message: "You have exceeded the rate limit. Please retry after 30 seconds."
            status: 429

    InternalServerError:
      description: An unexpected error occurred on the server.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "internal_error"
            message: "An unexpected error occurred. Please try again later."
            status: 500
            requestId: "req_01H9XKPB3GPT7C1QVR4CTWNX8M"

    ServiceUnavailable:
      description: The service is temporarily unavailable. Retry with exponential backoff.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        Retry-After:
          description: Number of seconds to wait before retrying.
          schema:
            type: integer
            example: 60
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "service_unavailable"
            message: "The service is temporarily unavailable. Please try again later."
            status: 503

  # ═══════════════════════════════════════════════
  # Schemas
  # ═══════════════════════════════════════════════
  schemas:
    # ─────────────────────────────────────
    # Enums
    # ─────────────────────────────────────
    Channel:
      type: string
      description: The messaging channel to use for delivery.
      enum:
        - sms
        - rcs
        - whatsapp
        - messenger
        - viber
        - telegram
        - mms
        - line
        - kakaotalk
        - instagram
      example: sms

    MessageStatus:
      type: string
      description: |
        The current delivery status of a message.
        - **queued** -- Message accepted and waiting to be sent.
        - **submitted** -- Message submitted to the channel provider.
        - **delivered** -- Message confirmed delivered to the recipient's device.
        - **read** -- Recipient has read the message (channels that support read receipts).
        - **failed** -- Message delivery failed.
        - **expired** -- Message TTL elapsed before delivery.
      enum:
        - queued
        - submitted
        - delivered
        - read
        - failed
        - expired
      example: delivered

    DispatchStrategy:
      type: string
      description: |
        The routing strategy for multi-channel dispatch.
        - **failover** -- Try channels in sequence; fall through on failure or timeout.
        - **broadcast** -- Send on all channels simultaneously.
        - **round-robin** -- Distribute messages across channels evenly over time.
        - **cost-optimized** -- Automatically select the cheapest reachable channel.
      enum:
        - failover
        - broadcast
        - round-robin
        - cost-optimized
      example: failover

    WebhookEventType:
      type: string
      description: The type of event delivered to a webhook.
      enum:
        - message.incoming
        - message.delivered
        - message.read
        - message.failed
        - message.submitted
      example: message.delivered

    # ─────────────────────────────────────
    # Error (flat -- no wrapper object)
    # ─────────────────────────────────────
    Error:
      type: object
      description: |
        Standard error response. Fields are top-level -- no wrapper object.
        Every error includes a machine-readable code, a human-readable message,
        and the HTTP status. The requestId matches the X-Request-Id header.
      required:
        - code
        - message
        - status
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: "invalid_request"
        message:
          type: string
          description: Human-readable error description.
          example: "The 'to' field must be a valid E.164 phone number."
        status:
          type: integer
          description: HTTP status code.
          example: 400
        requestId:
          type: string
          description: Unique request identifier for support inquiries. Matches the X-Request-Id header.
          example: "req_01H9XKPB3GPT7C1QVR4CTWNX8M"
        details:
          type: array
          description: Detailed validation errors, if applicable.
          items:
            type: object
            properties:
              field:
                type: string
                description: The field that caused the error.
              issue:
                type: string
                description: A description of what is wrong with the field.

    # ─────────────────────────────────────
    # Pagination
    # ─────────────────────────────────────
    PaginationMeta:
      type: object
      description: Cursor-based pagination metadata.
      required:
        - hasMore
      properties:
        hasMore:
          type: boolean
          description: Whether there are more results beyond this page.
        nextCursor:
          type: string
          nullable: true
          description: |
            Opaque cursor to pass as the cursor query parameter to fetch the
            next page. Null when there are no more results.
          example: "eyJpZCI6Im1zZ18wMUg5..."

    # ─────────────────────────────────────
    # Content Types (discriminated union)
    # ─────────────────────────────────────
    MessageContent:
      description: |
        Polymorphic message content. The type field acts as a discriminator to
        determine the shape of the content object.
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/TextContent'
          media: '#/components/schemas/MediaContent'
          card: '#/components/schemas/CardContent'
          carousel: '#/components/schemas/CarouselContent'
          location: '#/components/schemas/LocationContent'
          list: '#/components/schemas/ListContent'
          choices: '#/components/schemas/ChoicesContent'
      oneOf:
        - $ref: '#/components/schemas/TextContent'
        - $ref: '#/components/schemas/MediaContent'
        - $ref: '#/components/schemas/CardContent'
        - $ref: '#/components/schemas/CarouselContent'
        - $ref: '#/components/schemas/LocationContent'
        - $ref: '#/components/schemas/ListContent'
        - $ref: '#/components/schemas/ChoicesContent'

    TextContent:
      type: object
      description: Plain text message content.
      required:
        - type
        - text
      properties:
        type:
          type: string
          const: text
        text:
          type: string
          description: The message text. Maximum length depends on the channel.
          maxLength: 8000
          example: "Hello from MessageRouter!"

    MediaContent:
      type: object
      description: Media message (image, video, audio, or document).
      required:
        - type
        - url
        - mediaType
      properties:
        type:
          type: string
          const: media
        url:
          type: string
          format: uri
          description: Publicly accessible URL of the media file.
          example: "https://example.com/image.jpg"
        mediaType:
          type: string
          description: The type of media being sent.
          enum:
            - image
            - video
            - audio
            - document
          example: image
        caption:
          type: string
          description: Optional caption displayed with the media.
          maxLength: 1024
          example: "Check out this photo!"
        filename:
          type: string
          description: Suggested filename for document downloads.
          example: "receipt.pdf"

    CardContent:
      type: object
      description: |
        A rich card with a title, description, optional media, and action buttons.
        Supported on RCS, WhatsApp, Messenger, and other rich channels. On
        channels that do not support cards the content is rendered as text with links.
      required:
        - type
        - title
      properties:
        type:
          type: string
          const: card
        title:
          type: string
          description: Card title.
          maxLength: 200
          example: "Summer Sale"
        description:
          type: string
          description: Card description or body text.
          maxLength: 2000
          example: "50% off all items this weekend only."
        media:
          $ref: '#/components/schemas/CardMedia'
        actions:
          type: array
          description: Action buttons displayed on the card.
          maxItems: 4
          items:
            $ref: '#/components/schemas/Action'

    CardMedia:
      type: object
      description: Media attachment for a card.
      required:
        - url
        - type
      properties:
        url:
          type: string
          format: uri
          description: Publicly accessible URL of the media file.
          example: "https://example.com/banner.jpg"
        type:
          type: string
          enum:
            - image
            - video
          description: Media type.
          example: image

    Action:
      type: object
      description: An interactive action button.
      required:
        - type
        - title
        - payload
      properties:
        type:
          type: string
          description: The action type.
          enum:
            - reply
            - url
            - call
          example: url
        title:
          type: string
          description: Button label displayed to the user.
          maxLength: 25
          example: "Shop Now"
        payload:
          type: string
          description: |
            Action payload. For reply actions this is a developer-defined string
            returned in the webhook. For url actions this is the URL to open.
            For call actions this is the phone number to dial.
          example: "https://example.com/sale"

    CarouselContent:
      type: object
      description: |
        A horizontal scrollable carousel of cards. Each card can have its own
        title, description, media, and actions. Requires at least 2 cards.
      required:
        - type
        - cards
      properties:
        type:
          type: string
          const: carousel
        cards:
          type: array
          description: The cards in the carousel.
          minItems: 2
          maxItems: 10
          items:
            $ref: '#/components/schemas/CarouselCard'

    CarouselCard:
      type: object
      description: A single card within a carousel.
      required:
        - title
      properties:
        title:
          type: string
          maxLength: 200
          example: "Product A"
        description:
          type: string
          maxLength: 2000
        media:
          $ref: '#/components/schemas/CardMedia'
        actions:
          type: array
          maxItems: 4
          items:
            $ref: '#/components/schemas/Action'

    LocationContent:
      type: object
      description: A location pin with optional name and address.
      required:
        - type
        - lat
        - lng
      properties:
        type:
          type: string
          const: location
        lat:
          type: number
          format: double
          description: Latitude in decimal degrees.
          minimum: -90
          maximum: 90
          example: 37.7749
        lng:
          type: number
          format: double
          description: Longitude in decimal degrees.
          minimum: -180
          maximum: 180
          example: -122.4194
        name:
          type: string
          description: Name of the location.
          example: "Sinch HQ"
        address:
          type: string
          description: Street address of the location.
          example: "123 Market St, San Francisco, CA 94105"

    ListContent:
      type: object
      description: |
        An interactive list message with sections. The user taps a button to
        expand the list and can select an item. Supported on WhatsApp.
      required:
        - type
        - title
        - sections
      properties:
        type:
          type: string
          const: list
        title:
          type: string
          description: Header text displayed above the list.
          maxLength: 60
          example: "Select a product"
        buttonText:
          type: string
          description: Text on the button that opens the list.
          maxLength: 20
          default: "View options"
        sections:
          type: array
          description: Grouped sections of list items.
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/ListSection'

    ListSection:
      type: object
      description: A section within a list message.
      required:
        - title
        - items
      properties:
        title:
          type: string
          description: Section heading.
          maxLength: 24
          example: "Popular Items"
        items:
          type: array
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/ListItem'

    ListItem:
      type: object
      description: An individual selectable item in a list section.
      required:
        - id
        - title
      properties:
        id:
          type: string
          description: Unique identifier for this item, returned in the webhook when selected.
          example: "item_001"
        title:
          type: string
          description: Item title.
          maxLength: 24
          example: "Margherita Pizza"
        description:
          type: string
          description: Optional item description.
          maxLength: 72
          example: "Classic tomato, mozzarella, and basil."

    ChoicesContent:
      type: object
      description: |
        A text message with quick-reply buttons or suggested actions. On channels
        that do not support interactive buttons, the choices are appended as
        numbered options in the text.
      required:
        - type
        - text
        - choices
      properties:
        type:
          type: string
          const: choices
        text:
          type: string
          description: The message text displayed above the choices.
          maxLength: 4096
          example: "How would you like to proceed?"
        choices:
          type: array
          description: Interactive choice buttons.
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/Action'

    # ─────────────────────────────────────
    # Message Schemas
    # ─────────────────────────────────────
    MessageRequest:
      type: object
      description: |
        Request body for sending a message. At minimum, provide a recipient (to)
        and either a body (shorthand for plain text) or a content object.

        **Defaults to SMS** when channel is omitted, making the simplest possible
        request just: `{ "to": "+15551234567", "body": "Hello" }`.

        You must provide either `body` or `content`, but not both. Sending both
        returns a 400 validation error.
      required:
        - to
      properties:
        to:
          type: string
          description: |
            Recipient identifier. An E.164 phone number (e.g., +15551234567).
          example: "+15551234567"
        from:
          type: string
          description: |
            Sender identifier. If omitted, the default sender for the selected
            channel is used. Configure default senders per channel in the
            Sinch Dashboard or via PUT /v1/channels/{channelId}.
          example: "+15559876543"
        channel:
          $ref: '#/components/schemas/Channel'
          default: sms
        body:
          type: string
          description: |
            Plain text message body. This is a convenience shorthand -- when
            provided, the API wraps it in a TextContent object automatically.
            Mutually exclusive with content.
          maxLength: 8000
          example: "Hello from MessageRouter!"
        content:
          $ref: '#/components/schemas/MessageContent'
        dispatch:
          $ref: '#/components/schemas/InlineDispatch'
        callbackUrl:
          type: string
          format: uri
          description: |
            Per-message callback URL. If provided, delivery status events for this
            message are sent to this URL instead of (or in addition to) registered
            webhooks.
          example: "https://example.com/callbacks/msg123"
        metadata:
          type: object
          description: |
            Arbitrary key-value pairs attached to the message. Returned in webhooks
            and API responses. Maximum 10 keys, 256 characters per key, 1024
            characters per value.
          additionalProperties:
            type: string
          example:
            orderId: "ORD-98765"
            campaign: "summer_sale"
        ttl:
          type: integer
          description: |
            Time-to-live in seconds. If the message cannot be delivered within
            this window it expires and a message.failed event is emitted.
          minimum: 1
          maximum: 604800
          example: 3600

    InlineDispatch:
      type: object
      description: |
        Inline dispatch configuration for a single message. Define a strategy
        and a list of channel routes to control multi-channel delivery.
      required:
        - strategy
        - routes
      properties:
        strategy:
          $ref: '#/components/schemas/DispatchStrategy'
        routes:
          type: array
          description: Ordered list of channel routes.
          minItems: 1
          maxItems: 10
          items:
            $ref: '#/components/schemas/DispatchRoute'

    DispatchRoute:
      type: object
      description: A single route in a dispatch configuration.
      required:
        - channel
      properties:
        channel:
          $ref: '#/components/schemas/Channel'
        content:
          $ref: '#/components/schemas/MessageContent'
        ttl:
          type: integer
          description: |
            Time-to-live in seconds for this route. In a failover strategy, if
            delivery is not confirmed within this window the next route is tried.
          minimum: 1
          maximum: 604800
          example: 30
        from:
          type: string
          description: Override sender for this route.

    MessageResponse:
      type: object
      description: Full message details as returned by the API.
      required:
        - id
        - to
        - channel
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Unique message identifier.
          example: "msg_01H9XKPB3GPT7C1QVR4CTWNX8M"
        to:
          type: string
          description: Recipient identifier.
          example: "+15551234567"
        from:
          type: string
          description: Sender identifier.
          example: "+15559876543"
        channel:
          $ref: '#/components/schemas/Channel'
        status:
          $ref: '#/components/schemas/MessageStatus'
        direction:
          type: string
          enum:
            - outbound
            - inbound
          description: Whether the message was sent or received.
          example: outbound
        content:
          $ref: '#/components/schemas/MessageContent'
        metadata:
          type: object
          additionalProperties:
            type: string
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the message was accepted by the API.
          example: "2025-09-15T10:30:00.000Z"
        statusHistory:
          type: array
          description: |
            Ordered list of status transitions with timestamps. This is the
            single source of truth for when each status change occurred.
          items:
            type: object
            required:
              - status
              - timestamp
            properties:
              status:
                $ref: '#/components/schemas/MessageStatus'
              timestamp:
                type: string
                format: date-time
              detail:
                type: string
                description: Optional detail about this status transition.
        cost:
          type: object
          nullable: true
          description: Estimated or actual cost of the message.
          properties:
            amount:
              type: string
              description: Cost amount as a decimal string.
              example: "0.0075"
            currency:
              type: string
              description: ISO 4217 currency code.
              example: "USD"
        segments:
          type: integer
          nullable: true
          description: Number of SMS segments. Only present for SMS/MMS channels.
          example: 1
        error:
          type: object
          nullable: true
          description: Error details if the message failed.
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: "undeliverable"
            message:
              type: string
              description: Human-readable error description.
              example: "The recipient's device is unreachable."
            channel:
              $ref: '#/components/schemas/Channel'

    MessageList:
      type: object
      description: Paginated list of messages.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageResponse'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    # ─────────────────────────────────────
    # Channel Schemas
    # ─────────────────────────────────────
    ChannelInfo:
      type: object
      description: Summary of a messaging channel.
      required:
        - id
        - name
        - status
      properties:
        id:
          $ref: '#/components/schemas/Channel'
        name:
          type: string
          description: Human-readable channel name.
          example: "WhatsApp"
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
          description: Channel provisioning status.
          example: active
        capabilities:
          $ref: '#/components/schemas/ChannelCapabilities'

    ChannelDetail:
      type: object
      description: Full channel details including configuration and health.
      required:
        - id
        - name
        - status
      properties:
        id:
          $ref: '#/components/schemas/Channel'
        name:
          type: string
          example: "WhatsApp"
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
          example: active
        capabilities:
          $ref: '#/components/schemas/ChannelCapabilities'
        configuration:
          type: object
          description: Channel-specific configuration. Shape varies by channel.
          additionalProperties: true
        health:
          type: object
          description: Current health metrics for this channel.
          properties:
            status:
              type: string
              enum:
                - healthy
                - degraded
                - down
            latencyMs:
              type: integer
              description: Average delivery latency in milliseconds.
            lastCheckedAt:
              type: string
              format: date-time

    ChannelCapabilities:
      type: object
      description: What this channel supports.
      properties:
        richCards:
          type: boolean
          example: true
        readReceipts:
          type: boolean
          example: true
        typingIndicators:
          type: boolean
          example: true
        media:
          type: boolean
          example: true
        maxMessageLength:
          type: integer
          example: 4096
        supportedMediaTypes:
          type: array
          items:
            type: string
          example:
            - image/jpeg
            - image/png
            - video/mp4

    ChannelConfigUpdate:
      type: object
      description: |
        Replacement configuration for a channel. Send the complete set of
        mutable configuration fields. Shape varies by channel.
      required:
        - configuration
      properties:
        configuration:
          type: object
          description: Channel-specific configuration. Shape varies by channel.
          additionalProperties: true

    # ─────────────────────────────────────
    # Webhook Schemas
    # ─────────────────────────────────────
    WebhookCreateRequest:
      type: object
      description: Register a new webhook endpoint.
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
          description: The HTTPS URL to receive event notifications.
          example: "https://example.com/webhooks/messagerouter"
        events:
          type: array
          description: Event types to subscribe to.
          minItems: 1
          items:
            $ref: '#/components/schemas/WebhookEventType'
        secret:
          type: string
          writeOnly: true
          description: |
            Shared secret used to sign webhook payloads. Include this to verify
            that incoming webhooks are from MessageRouter. The secret is write-only
            and never returned in API responses.
          example: "whsec_a1b2c3d4e5f6"
        description:
          type: string
          description: Human-readable description for this webhook.
          maxLength: 256
          example: "Production webhook for order notifications"

    WebhookUpdateRequest:
      type: object
      description: |
        Full replacement of a webhook's mutable fields. Send all fields
        you want to keep — omitted mutable fields are reset to defaults.
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
          description: The HTTPS URL to receive event notifications.
        events:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/WebhookEventType'
        secret:
          type: string
          writeOnly: true
          description: New shared secret. Write-only.
        status:
          type: string
          enum:
            - active
            - inactive
          description: Set to inactive to pause delivery without deleting.
          default: active
        description:
          type: string
          maxLength: 256

    WebhookResponse:
      type: object
      description: Webhook endpoint details.
      required:
        - id
        - url
        - events
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique webhook identifier.
          example: "whk_01H9XKPB3GPT7C1QVR4CTWNX8M"
        url:
          type: string
          format: uri
          example: "https://example.com/webhooks/messagerouter"
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        status:
          type: string
          enum:
            - active
            - inactive
          example: active
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          example: "2025-09-15T10:30:00.000Z"
        updatedAt:
          type: string
          format: date-time
          example: "2025-09-15T10:30:00.000Z"

    WebhookList:
      type: object
      description: Paginated list of webhooks.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookResponse'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
    # ─────────────────────────────────────
    # Health Schema
    # ─────────────────────────────────────
    HealthResponse:
      type: object
      description: |
        API health status. Without authentication only top-level status is
        returned. With authentication, per-channel diagnostics are included.
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
          description: Overall service health.
        timestamp:
          type: string
          format: date-time
          description: Current server time.
        version:
          type: string
          description: API version string.
        channels:
          type: array
          description: Per-channel health diagnostics. Only included for authenticated requests.
          items:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/Channel'
              status:
                type: string
                enum:
                  - operational
                  - degraded
                  - down
              latencyMs:
                type: integer
                description: Average delivery latency in milliseconds.
              successRate:
                type: number
                format: double
                description: Delivery success rate (0.0 to 1.0) over the last hour.
              incident:
                type: string
                nullable: true
                description: Description of any ongoing incident affecting this channel.
        incidents:
          type: array
          description: Active platform-wide incidents. Only included for authenticated requests.
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              status:
                type: string
                enum:
                  - investigating
                  - identified
                  - monitoring
                  - resolved
              createdAt:
                type: string
                format: date-time
